.container {
  padding-left: 40px;
}

.img {
  width: 250px;
  min-height: 400px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: calc(100% / 4 - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
}

.descContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 250px;
}

.descName {
  font-weight: 700;
}
